.avatar {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum";
    position: relative;
    display: inline-block;
    overflow: hidden;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    background: #ccc;

    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
}

.employee-page {
    width: 100%;
    height: 500px;
    background: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-variant: tabular-nums;
}

.employee-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        position: relative;
        padding: 0 15px;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);

        &:active {
            background: linear-gradient(#d2e4f5, #e5e9ec);
        }

        &:hover,
        &:focus {
            background: linear-gradient(aliceblue, #e5e9ec);
            box-shadow: 1px -1px 4px rgba(0, 0, 0, 0.1);
        }
    }

    .avatar {
        margin: 0 10px 0 5px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 24px;
    }

    .employee-summary {
        flex: 1;
        border-bottom: 1px solid #ddd;
    }
    .employee-name {
        color: #000;
        margin: 8px 0 2px 0;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.5;
    }
    .employee-job-title {
        color: #999;
        margin: 2px 0 8px 0;
        font-size: 12px;
        line-height: 1.5;
    }
}

html,
body,
#root {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: #fff;
}

* {
    -webkit-tap-highlight-color: transparent;
}

body {
    .employee-page {
        height: 100%;
        min-height: 100%;
    }
}

.block {
    margin: 10px;
    padding: 25px;
    background: #999;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    transition: 0.3s;
}
.block.hidden {
    animation-name: blockOut;
    margin-top: -133px;
}
